%h1=@chat.name
#chat_room
#user_list
%div{:style => "clear:both;"}
=text_field_tag("chat",nil, :placeholder => "Your chat goes here", :size => 95)

:javascript
  var jug = new Juggernaut;
  jug.subscribe("#{@chat.id}", function(data){
    console.log("Got data: " + data);
    $("#chat_room").append(build_message(data));
  });
  var chat_id = #{@chat.id}
